/* style général de la page */
* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-bg-color: #182534;
    --border-color: #1DD2AF;
    --highlight-border-color: #ffff00;
    --primary-txt-color: #FFFFFF;
    --secondary-txt-color: #1DD2AF;
    --highlight-txt-color: #ffff00;
    --disabled-txt-color: #808080;
}
body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
}
header {
    border-bottom: 0.15rem solid var(--border-color)
}
footer {
    border-top: 0.15rem solid var(--border-color)
}
.general{
    display: grid;
    place-items: center;
    min-height: 90vh;
}
.backoffice {
    display: grid;
    min-height: 90vh;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "sidebar content"
}
article {
    grid-area: content;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    border: 0.15rem solid var(--border-color)
}
aside {
    grid-area: sidebar;
    padding: 0.5rem;
    margin: 1rem 0 1rem 1rem;
    border: 0.15rem solid var(--border-color)
}
.posts {
    height: 80vh;
    display: grid;
    place-items: center;
}
.pagination {
    height: 5vh;
    display: inline-grid;
    grid-template-columns: auto auto auto;

}
.paginationBtn {
    color: var(--secondary-txt-color);
    background-color: var(--primary-bg-color);
    border: none;
}
.paginationBtn:hover {
    color: var(--highlight-txt-color);
    cursor: pointer;
}
.paginationBtn:disabled {
    color: var(--disabled-txt-color);
}
.paginationNumbers {
    margin: 0 2rem;
    align-self: center;
}