/* style général de la page */
* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-bg-color: #182534;
    --border-color: #1DD2AF;
    --highlight-border-color: #ffff00;
    --primary-txt-color: #FFFFFF;
    --secondary-txt-color: #1DD2AF;
    --highlight-txt-color: #ffff00;
    --disabled-txt-color: #808080;
}
body {
    font-family: Arial, sans-serif;
    /*font-weight: bold;*/
    background: var(--primary-bg-color);
    color: var(--primary-txt-color);
}
header {
    border-bottom: 0.15rem solid var(--border-color)
}
footer {
    border-top: 0.15rem solid var(--border-color)
}
.general{
    display: grid;
    place-items: center;
    min-height: 90vh;
}
/* Links, lists, etc */
a {
    color: var(--secondary-txt-color);
}
a:hover {
    color: var(--highlight-txt-color);
}
ul {
    list-style: none;
}
figure {
    margin: 1rem 0 0 0;
}
hr.dashed {
    border: 0.15rem dashed var(--border-color);
  }
/* BackOffice */
.backoffice {
    display: grid;
    min-height: 90vh;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "sidebar content"
}
.backofficeComponent {
    display: none;
}
article {
    grid-area: content;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    border: 0.15rem solid var(--border-color)
}
aside {
    grid-area: sidebar;
    padding: 0.5rem;
    margin: 1rem 0 1rem 1rem;
    border: 0.15rem solid var(--border-color)
}
/* Articles */
.posts {
    height: 80vh;
    display: grid;
    place-items: center;
}
.pagination {
    height: 5vh;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.paginationBtn {
    color: var(--secondary-txt-color);
    background-color: var(--primary-bg-color);
    border: none;
}
.paginationBtn:hover {
    color: var(--highlight-txt-color);
    cursor: pointer;
}
.paginationBtn:disabled {
    color: var(--disabled-txt-color);
}
.paginationNumbers {
    margin: 0 2rem;
    align-self: center;
}
/* */
.images {
    display: grid;
    place-items: center;
}
.imgPagination {
    height: 5vh;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.imgPaginationBtn {
    color: var(--secondary-txt-color);
    background-color: var(--primary-bg-color);
    border: none;
}
.imgPaginationBtn:hover {
    color: var(--highlight-txt-color);
    cursor: pointer;
}
.imgPaginationBtn:disabled {
    color: var(--disabled-txt-color);
}
.imgPaginationNumbers {
    margin: 0 2rem;
    align-self: center;
}
.controlsImgs {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 95%;
    height: auto;
}
.control1Imgs {
    align-self: center;
    grid-column: 1;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0rem 0.5rem;
}
.btnAddImg {
    font-weight: bolder;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid var(--border-color);
    color: var(--secondary-txt-color);
    background-color: var(--primary-bg-color);
}
.btnAddImg:hover {
    border: 0.15rem solid var(--highlight-border-color);
    color: var(--highlight-txt-color);
    cursor: pointer;
}
.control3Imgs {
    grid-column: 3;
    justify-self: end;
}
.templateImgs {
    display: grid;
    gap: 0.25rem;
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    align-items: center;
}
.templateImgs a {
    text-decoration: none;
    color: var(--secondary-txt-color);
}
.childImg {
    border: 0.15rem solid var(--border-color);
    width: 15rem;
    margin: 0.5rem;
}
.childImg:hover {
    transform: scale(0.9);
    cursor: pointer;
}
.childImg img {
    width: 15rem;
    height: auto;
    padding: 0 0 1rem 0;
}
.titleImg {
    padding: 0.5rem 0 0.5rem 0.5rem;
}
/* */
.templateMyImg {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
.templateMyImg img {
    width: 30rem;
    height: auto;
    padding: 1rem 0;
}
.templateMyImg h1 {
    color: var(--secondary-txt-color);
}
/* Editeur */
.title {
    border: 0.10rem solid var(--border-color);
    width: 75vw;
    height: 1rem; 
    padding: 0.15rem;
    margin: 0.5rem 0.15rem 0.5rem 0.15rem;
}
.content {
    border: 0.10rem solid var(--border-color);
    width: 75vw;
    min-height: 15rem;
    padding: 0.15rem;
    margin: 0.5rem 0.15rem 0.5rem 0.15rem;
}
.content img {
    max-width: 20rem;
    height: auto;
}
.toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: 75vw;
    height: 2rem;
    padding: 0.15rem;
    margin: 0.25rem 0;
}
.toolbar .btn {
    border: 0.15rem solid var(--border-color);
    color: var(--primary);
    background-color: var(--primary-bg-color);
    padding: 0.15rem;
    width: 2.15rem;
    height: 2.15rem;
}
.toolbar .btn img {
    width: 15px;
    height: 15px;
    display: block;
    margin: auto;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration-line: underline;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 75.75vw;
}
/* */
.btn {
    border: 0.15rem solid var(--border-color);
    color: var(--primary);
    background-color: var(--primary-bg-color);
    padding: 0.15rem;
    width: auto;
    height: 2rem;
    margin: 0.15rem;
}
.btn:hover {
    cursor: pointer;
    border: 0.15rem solid var(--highlight-border-color);
}
