<div class="images">
    <div class="controlsImgs">
        <div class="control1Imgs">
            <p>Banque d'images</p>
            ||
            <button class="btnAddImg" onclick="openAddImage()";>+</button>
        </div>
        <div class="pagination control3Imgs" id="imgPaginationControls"></div>
    </div>
    <section id="allImgs" class="templateImgs"></section>
        <template id="templateImgs">
            <a id="imgLink" href="#">
                <div class="childImg">
                    <img id="imgUrl" src="#">
                    <p class="titleImg" id="imgTitle">Title</p>
                </div>
            </a>
        </template>
</div>