<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Ajoutée</title>
        <script type="module" src="../scripts/conf.js"></script>
    </head>
    <body>
        <main class="general">
            <h1>Image ajoutée</h1>
        </main>
        <script src="../scripts/conf.js"></script>
        <script src="../scripts/isAuthenticated.js"></script>
        <script src="../scripts/loggedIn.js"></script>
    </body>
</html>